{% extends "base.html" %}
<!-- Page background -->
{% block additional_styles %}
<style>
  body {
    background-image: url('https://res.cloudinary.com/dxihsonor/image/upload/v1672077539/Site_images/about_bg_vjyzvp.webp');
  }
</style>
{% endblock %}

{% block content %}
<!-- Main paragraph -->
<div class="row main-cont-about">
  <div class="col-xl-6 opaque2">
    <div class="p-3">
      <h2 class="text-center">YOGA BENEFITS</h2>
    </div>
    <p class="text-align p-3">
      Yoga benefits involve the person at 360°: at physical, energetic, mental, and behavioral levels (when we feel
      better, our mood improves too).<br>
      A person at peace with herself is a fortune for society because that peace spreads across her family, work
      environment, relationships, friendships, etc.<br>
      The physical benefits are as well important: Yoga strengthens the musculoskeletal system and betters the posture,
      stimulates the endocrine system, reinforces the immune system, and improves overall physiological functions like
      sleep and digestion.<br>
      Yoga teaches us to develop an awareness of our breath, and extremely important, it teaches us to relax.<br>
      Everyone knows how to rest, but relaxation is an art that has to be learned and practiced constantly.<br>
      As a yoga teacher, I need to make people understand that agonism is not part of Yoga, which is about learning the
      limits of our body and working while respecting them, accepting to progress little by little.<br>
      Rush is not part of Yoga.<br>
      Maybe you'll obtain some results quickly, but others will take longer: when the body and mind are ready.<br>We won't
      achieve some at all, but that's fine because the aim is not the performance but the journey.<br>
      Yoga practice is a journey for "Intronaut": for those who have the will and the need to explore and know their
      inner world.<br>
    </p>
  </div>
</div>
<!-- Second paragraph -->
<div class="row p-5"> 
  <div class="col-8 offset-2">
    <div class="pt-3 pb-3">
      <h2 class="text-center">MY PASSION FOR YOGA</h2>
    </div>
    <p class="text-align">
      Both my parents are yoga teachers, so I have always heard about and seen Yoga practiced at home.<br>
      As a child and teen, I played different sports, as well as dance and ballet, but I wasn't very interested in Yoga.<br>
      I thought it was something super spiritual, that you needed to be flexible, and that it was boring for me.<br>
      At the age of 28, when I was living in Vienna, I trained every day at the gym, but I felt the
      need to try something different to build strength, awareness, and harmony in both the mind and body...<br>
      So I decided to give Yoga a try.<br>I went to a class, and from that moment on, I was in love.<br>I started doing Yoga
      every day, and it completely changed my life!<br>I was
      impressed by how Yoga and breath work completely changed my body which, regardless of sports and dance, was very
      stiff.<br>I felt flexible and strong and I was amazed by how regular yoga practice made me feel so much healthier
      overall.<br>Yoga helped me even more on a mental level to put my life into perspective.<br>It became my therapy, which
      helped me organize myself internally.<br>
      At first, when I started teaching, I noticed that majority of my students suffered from
      neck and back pains.<br>So I decided to become a postural gym instructor to
      incorporate new elements into my practice and help my students with specific exercises.<br>
      Another aspect that I wanted to deepen was the energetic aspect.<br>I have always been a
      person with high energy, and I was also looking for a yoga method that could help me to
      boost my workout.<br>I found it with power yoga. After practicing for myself for some years, I became a power yoga
      teacher too.
    </p>
  </div>
</div>
{% endblock %}